<div class="container table-div">
    <h5>My Cart</h5>
      <ng-container *ngIf="products.length !==0 "  >
        <table class="table table-dark table-hover" *ngFor="let product of products" >
          <thead >
              <tr>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Image</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Rating</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td width='12%'>{{product.title}}</td>
                  <td width='12%'>{{product.category}}</td>
                  <td width='12%'><img src="{{product.image}}" alt=""></td>
                  <td width='25%'>{{product.description}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.rating.rate}}</td>
                  <td>
                      <button class="btn btn-danger" (click)="remove(product)"><i class="fas fa-trash-alt" style="color: white;"></i></button>
                      <button class="btn btn-primary" routerLink="/products">Shop</button>
                  </td>
              </tr>
          </tbody>
          <tr>
            <button class="btn btn-danger" style="width: 600px;">Remove All</button>
        </tr>
        </table>
      </ng-container>

      <ng-container *ngIf="products.length ===0">
            <div class="container empty-cart">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdVgVthuk6JYE41ANXAnFN7MZRrFJSziivNQ&usqp=CAU" alt="">
                  <h6>Sorr, Cart is Empty</h6>
                  <h6> Back To Shop</h6>
                  <button class="btn btn-primary" routerLink="/products">Shop</button>
            </div>
      </ng-container>

</div>
