<div class="container table-div">
    <h5>My Cart</h5>
      <ng-container *ngIf="products.length !=0 "  >
        <div class="top-button">
          <button class="btn btn-danger  " style="margin-bottom: 5px;"  (click)="removeAll()">Remove All</button>
          <span class="price-info" ><strong>Total Price </strong>: {{grandTotalPrice |currency}}</span>
        </div>
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">Index</th>
              <th scope="col">Products Name</th>
              <th scope="col">Price</th>
              <th scope="col">Category</th>
              <th scope="col">Image</th>
              <th scope="col">Description</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let i = index  ">
              <th scope="row">{{i+1}}</th>
              <td>{{product.title}}</td>
              <td>{{product.price | currency}}</td>
              <td>{{product.category}}</td>
              <td><img src="{{product.image}}" alt=""></td>
              <td>{{product.description}}</td>
              <td>
                <button class="btn btn-danger" (click)="remove(product)"><i class="fas fa-trash-alt"></i></button>
                <button class="btn btn-primary" routerLink="/products">Shop</button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <ng-container *ngIf="products.length ==0">
            <div class="container empty-cart">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdVgVthuk6JYE41ANXAnFN7MZRrFJSziivNQ&usqp=CAU" alt="">
                  <h6>Sorr, Cart is Empty</h6>
                  <h6> Back To Shop</h6>
                  <button class="btn btn-primary" routerLink="/products">Shop</button>
            </div>
      </ng-container>

</div>
