.navbar-brand{
  font-size: 30px;
  font-family: fantasy;
  font-weight: bold;

}
.navbar-brand strong{
  padding:5px;
  font-size: 25px;
}

.navbar-brand strong:hover{
  color:#10375c
}

.navbar-brand i:hover{
  color: #032442;
}
.search{
  width:700px;
  height: 40px;
  margin-top: 4px;

}

.search input{
  color:orangered;
  font-family:cursive;
  font-size: large;
}



