/*
.logo .fa-store-alt:hover,
.navbar-brand:hover,
.logo .fa-store-alt:focus,
.navbar-brand:focus
{
  color:orangered;
}

.fa-store-alt{
  color: white;
  font-size: 30px;
  margin-right: 5px;
}

.navbar-brand{
  font-size: 30px;
  font-family: fantasy;
} */
